body {
  margin: 0;
}
.container-main {
  display: flex;
  justify-content: center;
  align-items: self-end;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-image: var(--bg);
}
.player {
  position: absolute;
  width: var(--width);
  height: var(--height);
  background-repeat: no-repeat;
  background-size: auto;
}
.flip-player {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
}
#player1 {
  background-image: var(--img1);
  left: 0;
}
#player2 {
  background-image: var(--img2);
  right: 0;
}