:root {
    --second: 0.7s;
    --step1: 375px;
    --step2: 750px;
    --step3: 1125px;
    --step4: 1500px;
    --step5: 1875px;
    --step6: 2250px;
    --step7: 2625px;
    --step8: 3000px;
    --step9: 3375px;
    --step10: 3750px;
    --img1: url(imgs/figure/marco/idle.png);
    --img2: url(imgs/figure/marco/idle.png);
    --bg: url(imgs/maps/1.png);
    --width: 375px;
    --height: 375px;
}
